body {
  font-size: 16px;
  color: #ffcfe7;
  background-color: #ffcfe7;
  font-family: "adobe-garamond-pro",serif;}

  
/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
}

#title-text {
  margin: 0;
  font-size: 40px;
  font-family: 'Indie Flower', cursive;
  color: #000000;

}

#categories-menu,#icons-menu {
  height: 45px;
  float: left;
  font-size: 16px;
  line-height: 22px;
  padding-right: 12px;
  padding-left: 12px;
  position: relative;
}

#categories-nav,#icons-nav {
  position: absolute;

  top: 50%;
  z-index: 1;
  background-color: #f8f8f8;
  
}

.menu-main-menu,#icon-main-menu {
  margin-bottom: 0px;
}

.menu-bar {
  height: auto;
}

.menu-bar ul li {
  position: relative;

}
.menu-bar ul li a {
  display: block;
  text-decoration: none;
  line-height: 38px;
  font-size: 11px;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 30px;
  color: #000;
}



.menu-bar ul ul {
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.17s ease-out; -webkit-transition: all 0.17s ease-out; transition: all 0.17s ease-out;
  position: absolute;
  top: 38px;
  left: 0;
  width: auto;
  background: #fff;
  border: none;
  text-align: left;
}

.category-title {
  display: inline-block;
}

.menu-bar ul ul li {
  display: block;
  padding: 0;
  border-right: none;
}

.menu-bar ul li ul a {
line-height: 1.4;
padding: 6px 18px;
}

.menu-bar ul li.social-links {
  margin-left: 10px;
  float: right;
}

.menu-bar ul li.social-links a {
  margin: 0 12px;
  display: inline-block;
  padding: 0px;
}
.menu-bar ul li.social-links a i {
  font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 240px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ddd;}

.menu-main-menu .icon {
  display: none;
}
#three-bars-icon {
    font-size: 20px;
}

#menu-item5 {
  margin-right: 30px;
}

.header-container {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

#socials {
  color: #000000;
  font-size: 20px;
  margin-bottom: 12px;
}

.nav-container {
  position: relative;
height: 170px;
padding-right: 12px;
}

.nav-content {
  position: absolute;
  bottom: 10px;

}

#logo-img {
  background: url('../images/logo.jpg') no-repeat;
  height: 150px;
  width: 150px;
  padding: 0px 25px;
  margin: 10px 15px 10px 0;
}

#header-nav {
margin-bottom: 0;
}


.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */
/* MAIN CONTENT -SLIDER */

.carousel div {
  height: auto;
  max-height: 440px;

}


/* FOOTER */

.col-centered{
    margin: 0 auto;
}

.instagram-link {
/*    height: 65px;
*/    text-align: center;
    padding-top: 10px;
    font-size: 22px;
    color: #010101;
    overflow: hidden;
  }

  .general-footer div div h3 {
    font-size: 16px;
    font-family: "Century Gothic", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
  }

  #instagram-title-typography {
    font-family: "Playfair Display", sans-serif;
    font-size: 28px;
    font-style: italic;
    margin-bottom: 35px;
  }

.ig-footer {
  position: relative;
  text-align: center;
  overflow: hidden;
}

#ig-footer .instagram-pics{
  padding-left: 0;
}

#ig-footer .instagram-pics li {
  width:16.66666666666667%;
  display:inline;
  float:left;
}
#ig-footer .instagram-pics li img {
  max-width:100%;
  height:auto;
  vertical-align:middle;
}
#ig-footer .instagram-pics li img:hover {
  opacity:.87;
}

.container-instagram-feed {
  padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}

#ig-footer > ul {
  margin-top: -10px;
}

#footer-bottom {
padding: 26px 0px;
font-size: 14px;
text-align: center;
margin-top: 0px;
background-color: #000;
}

#sign-up-box {
  background-color: #ffffff;
  margin-right: 8px;
  margin-top: 60px;
  height: 40px;
  

}
.input-email{
  color: #000000;
  font-style: italic;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  border-radius:0;
  padding:auto;
}

.logo-img {
  height: 130px;
  padding-right: 0;
  padding-left: 100px;
  margin-top: 30px;
}

.bottom-footer-div {
  margin-top: 30px;
}

.logo-img-div{
  background-color: #ffffff;
  width: 150px;
  height: 100px;
 
}

#subscribe-btn {

    letter-spacing:2px;
    margin-top: 60px;
    padding-right: 20px;
    border-radius:0;
    font-size:11px;
    color:#fff;
    padding:9px 31px;
    display:block;
    border:3px solid #fff;
    cursor:pointer;
    width:auto;
    background-color: #12142b;
}

.btn-email{
  color: #ffffff;
  text-align: center;
}

.footer-bottom-right {
  padding: 0, 20px;
  font-family: "futura-pt",sans-serif;
  font-size: 14px;
}

.footer-bottom-right p {
  text-align: right;
  font-size: 12px;
  margin-right: 10px;
  line-height: 300%;
}

.footer-bottom-right p a{
  color: #fff;
}

.general-footer {
  margin-top: 0;
  padding-top: 0;
  background-color: #ffcfe7;
  border-top: 0;
}
.panel-footer div.row {
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */



/* HOME PAGE */

/*main posts*/

#posts-container div {
  padding-left: 15px;
  padding-right: 15px;
}

.post-item {
  padding-bottom: 25px;
  padding-top: 25px;
}

.divisor-line {
  border-top: 2px solid #222;
  margin-top: 35px;
  margin-right: 40px;
  margin-left: 40px;

}

.post-img {
    margin-bottom:18px;
    max-height: 275px;
    overflow: hidden;
    min-height: 200px;  
}

.post-headers {
      max-width: 100%;
    margin-bottom: 12px;
    text-align: center;
}

.post-category {
    margin-bottom: 8px;
    color: #12142B;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
    margin: 0 5px 0 4px;
}

.post-title {
  font-family: "futura-pt",sans-serif;
    color: #12142B;
    line-height: 1.5;
    font-weight: normal;
    font-size: 22px;
}

.post-desc {
  padding: 0;
  max-width: 100%;
  text-align: center;
  margin:0;
}

.post-excerpt {
    height: 90px;
    min-height: 90px;
    max-height: 90px;
    overflow: hidden;
    display: inline-block;
}

.post-excerpt p {
  color: #000;
}

.view-post-wrapper {
  clear: both;
  text-align: center;
}

.view-post{
    border: none;
    background: #12142B;
    color: #f9dad8;
    text-transform: capitalize;
    border-radius: 0;
    font-family: "futura-pt",sans-serif;
    display: inline-block;
    padding: 7px 20px;
    letter-spacing: 1px;
    -webkit-appearance: none;
    font-size: 13px;
}

.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
/* END HOME PAGE */

#instafeed .insta-img-cont {
  padding:0;
  max-height:250px;
  overflow: hidden;
}

#instafeed .insta-img-cont a img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position:relative;
  transform: translateX(-50%);
}

/*CONTACT PAGE
*/

.page-heading {
  color: #000;
}
.heading-container {
  text-align: center;
}
.contact-container, .london-container {
  height: 800px;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
  #posts-container{
    padding: 0px 200px;
  }

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

 /* #menu-main-menu {
    padding-left: 0px;
  }*/
   
  .menu-bar ul li a {
 
  padding: 0 20px;
}
 /*footer*/

 #ig-footer .instagram-pics li {
  width:25%;
}
 #ig-footer .instagram-pics li:nth-child(6), #ig-footer .instagram-pics li:nth-child(5) {
    display: none;
}

#instafeed div:nth-child(n+5){
  display: none;
}

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  /*Header*/
  .menu-main-menu li {
    display: none;
  }

  .menu-main-menu .icon {
    float: left;
    display: block;
  }

  .menu-main-menu.responsive {
    position: relative;
  }

  .menu-main-menu.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .menu-main-menu.responsive li {
    float: none;
    display: block;
    text-align: left;
  }


  /* footer */
  #ig-footer .instagram-pics li {
  width:33.3333%;
  }

  #ig-footer .instagram-pics li:nth-child(6), #ig-footer .instagram-pics li:nth-child(5),#ig-footer .instagram-pics li:nth-child(4) {
    display: none;
  }

  .footer-bottom-right p {
    text-align: center;
  }

  #instafeed div:nth-child(n+4){
  display: none;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

  #categories-nav, #icons-nav {
    right: 0;
  }

   .menu-main-menu li {
    display: none;
  }

  .menu-main-menu .icon {
    float: left;
    display: block;
  }

  .menu-main-menu.responsive {
    position: relative;
  }

  .menu-main-menu.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .menu-main-menu.responsive li {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #subscribe-btn,#sign-up-box {
    position: relative;
    left: 20%;

  }
  /* End Header */

  /* Footer */

   .footer-bottom-right p {
    text-align: center;
  }

  #ig-footer .instagram-pics li {
  width:33.3333%;
  }

  #ig-footer .instagram-pics li:nth-child(6), #ig-footer .instagram-pics li:nth-child(5),#ig-footer .instagram-pics li:nth-child(4) {
    display: none;
  }

  #instafeed div:nth-child(n+3){
  display: none;
  }
  
  /* End Footer */


}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */

  #icons-menu {
    display: none;
  }

  #categories-nav, #icons-nav {
    right: 0;
  }

   .menu-main-menu li {
    display: none;
  }

  .menu-main-menu .icon {
    float: left;
    display: block;
  }

  .menu-main-menu.responsive {
    position: relative;
  }

  .menu-main-menu.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .menu-main-menu.responsive li {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  #subscribe-btn,#sign-up-box {
    position: relative;
    left: 10%;

  }
  #logo-img-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    position: relative;
    left: 30%;
  }
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }

    #instafeed div:nth-child(n+2){
  display: none;
  }
}



